
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
}

nav{
    background-color: rgb(26, 1, 51);
    color: white;
    font-weight: bold;
    height: 52px;
    font-size: 30px;
    display: flex;
    align-items: center;
    padding: 0 12px;

}
nav ul{
    list-style-type: none;
    height: 30px;
    margin-top: 0%;
}

nav ul li{
    text-align: center;
}

.gameContainer{
    display: flex;
    justify-content: center;
    margin-top: 50px;


}

.container{
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
    justify-content: center;
    padding-right: 100px;
    padding-top: 70px;
}

.box{
    border: 1px solid black;
    font-size: 10vw;
    
    
}

.box:hover{
    background-color:rgb(231, 209, 242);
    cursor: pointer;
}

.boxtext{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px; 
}

.gameInfo{
    padding: 0 50px;
    margin-left: 50px;
    padding-top: 70px;
}

img{
    width: 0;
    transition: width 1s ease-in-out;
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

#reset{
    padding: 5px 30px 5px 30px;
    background-color: rgb(231, 209, 242);
    cursor: pointer;
    font-size: 13px;
    border-radius: 5px;
    margin-top: 50px;
}

.info{
    font-size: 20px;
}

h1{
    color: rgb(26, 1, 51)
}

.span{
    margin-top: 50px;
}